{% extends "layouts/base.html" %}
{% load static %}

{% block title %} UI Icons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <script type="text/javascript">

        function isValidCPF(cpf) {
            if (typeof cpf !== "string") return false
            cpf = cpf.replace(/[\s.-]*/igm, '')
            if (
                !cpf ||
                cpf.length != 11 ||
                cpf == "00000000000" ||
                cpf == "11111111111" ||
                cpf == "22222222222" ||
                cpf == "33333333333" ||
                cpf == "44444444444" ||
                cpf == "55555555555" ||
                cpf == "66666666666" ||
                cpf == "77777777777" ||
                cpf == "88888888888" ||
                cpf == "99999999999"
            ) {
                return false
            }
            var soma = 0
            var resto
            for (var i = 1; i <= 9; i++)
                soma = soma + parseInt(cpf.substring(i - 1, i)) * (11 - i)
            resto = (soma * 10) % 11
            if ((resto == 10) || (resto == 11)) resto = 0
            if (resto != parseInt(cpf.substring(9, 10))) return false
            soma = 0
            for (var i = 1; i <= 10; i++)
                soma = soma + parseInt(cpf.substring(i - 1, i)) * (12 - i)
            resto = (soma * 10) % 11
            if ((resto == 10) || (resto == 11)) resto = 0
            if (resto != parseInt(cpf.substring(10, 11))) return false
            return true
        }

        function isValidEmail(email) {
            let regexEmailPattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/igm;
            return regexEmailPattern.test(email);
        }

        function validar() {

            var cpf = document.getElementById("id_cpf")
            var email = document.getElementById("id_email")

            if (isValidCPF(cpf.value) !== true) {
                alert("CPF Inválido")
                cpf.focus()
                cpf.classList.add("is-invalid")
                return;
            }
            if (isValidEmail(email.value) !== true) {
                alert("E-mail Inválido")
                email.focus()
                email.classList.add("is-invalid")
                return;
            }
            formulario.submit();
        }


    </script>

{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 100px;background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->

    </div>

    <div class="card">
        <!-- Page content -->
        <div class="container-fluid mt--6">


            <div class="row">
                <div class="col-lg-6">
                    <div class="card-wrapper">
                        <!-- Dropdowns -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header">
                                <h3 class="mb-0">Comunicado</h3>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <form name="formulario" method="post">
                                    {% csrf_token %}

                                    {{ form.as_p }}

                                    <div class="row">
                                        <div class="col-md">
                                            <button type="button" class="btn btn-default" onclick="validar();">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div>
                    <!-- Text editor -->

                </div>
            </div>

            {% include 'includes/footer.html' %}
        </div>


    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>

{% endblock javascripts %}
