{% extends "layouts/base.html" %}


{% block content %}

    <div class="card">

        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">DETALHES </h3>
                        </div>

                        <div class="col-4 text-right">
                            <a href="{% url 'proagro:create' %}" class="btn btn-sm btn-primary">Novo</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Coordendadas</th>
                        <th>Cultura</th>
                        <th>Data Colheita</th>
                        <th>Evento</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'proagro:detail' pk=item.id %}">{{ item.id }} </a>
                            </td>
                            <td>{{ item.nome }}</td>
                            <td>{{ item.cpf }}</td>
                            <td>{{ item.latitude }} {{ item.longitude }}</td>
                            <td>{{ item.cultura }}</td>
                            <td>{{ item.datacolheita }}</td>
                            <td>{{ item.get_evento_display }}</td>


                            <td>
                                <a href="{% url 'proagro:update' pk=item.id %}" class="table-action"
                                   data-toggle="tooltip"
                                   data-original-title="Editar">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                                <a href="{% url 'proagro:delete' pk=item.id %}"
                                   class="table-action table-action-delete"
                                   id="finalize_{{ item.id }}"
                                   data-toggle="modal"
                                   data-target="#confirmModal"
                                   data-title="Confirmação de Exclusão"
                                   data-message="Tem certeza que deseja excluir o registro. Essa ação não pode ser revertida"
                                   data-buttontext="Excluir">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            {% include 'includes/pagination.html' %}
            {% include "includes/confirm_modal.html" %}
        </div>

    </div>

{% endblock %}